body{
     background-color: rgb(208, 255, 255);
     padding: 20px;
    
}
#block
{
    background-color: white;
    height: 500px;
    width: 500px;
    padding: 10px;
}
#p1{
    height: 100px;
    width: 100px;
    border-radius: 100px;

}